

    
{% load static %}
<form id="RedirectForm" action="{% url 'profilePage' %}" method="post">
    {% csrf_token %}
</form>
<script src="https://www.gstatic.com/firebasejs/5.0.2/firebase.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyD8R2stPy8Lgr_-o7rLTXIIqtSF3giXMLM",
    authDomain: "zariz-204206.firebaseapp.com",
    databaseURL: "https://zariz-204206.firebaseio.com",
    projectId: "zariz-815448382466",
    storageBucket: "zariz-204206.appspot.com",
    messagingSenderId: "702663000032"
  };
  // var config = {
  //   apiKey: "AIzaSyD8R2stPy8Lgr_-o7rLTXIIqtSF3giXMLM",
  //   authDomain: "zariz-204206.firebaseapp.com",
  //   databaseURL: "https://zariz-204206.firebaseio.com",
  //   projectId: "zariz-204206",
  //   storageBu§ket: "zariz-204206.appspot.com",
  //   messagingSenderId: "357060023149"
  // };
  firebase.initializeApp(config);
</script>
<script src="https://www.gstatic.com/firebasejs/ui/3.0.0/firebase-ui-auth__iw.js"></script>
<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/3.0.0/firebase-ui-auth.css" />
{% csrf_token %}
<script type="text/javascript">
  // FirebaseUI config.
  var userData;
  var uiConfig = {
    callbacks: {
      signInSuccessWithAuthResult: function(authResult, redirectUrl) {
        console.log("success1");
        userData = authResult.user; 
        userData.getIdToken().then(function(userToken) {
          console.log(userData)
          $.ajax({
              url: "{% url 'firebaseSuccess' %}",
              method: 'GET',
              data : {csrfmiddlewaretoken: "{{ csrf_token }}",
                'userToken' : String(userToken)
          //      'redirectUrl' :redirectUrl
              },
              dataType: 'json',
              success: function(data){
                console.log("success")
                console.log(data)
                console.log(data.redirect)
                if (data.redirect) {
                    console.log(data.redirect)
                    window.location = data.redirect
                }
                console.log("3333")
                console.log("{% url 'profilePage' %}")
                window.location.replace("{% url 'profilePage' %}")
              },
              error: function(error_data){
                  console.log("error")
                  console.log(error_data)
              }
          });

      });
         
      return false;
      },
      uiShown: function() {
        console.log("UI shown")
        return true;
      }
    },
    signInSuccessUrl: "{% url 'profilePage' %}",
    signInOptions: [
      // Leave the lines as is for the providers you want to offer your users.
      firebase.auth.GoogleAuthProvider.PROVIDER_ID,
      firebase.auth.FacebookAuthProvider.PROVIDER_ID,
      firebase.auth.EmailAuthProvider.PROVIDER_ID,
      firebase.auth.PhoneAuthProvider.PROVIDER_ID
    ],
    // Terms of service url.
    //tosUrl: '<your-tos-url>'
  };

  // Initialize the FirebaseUI Widget using Firebase.
  var ui = new firebaseui.auth.AuthUI(firebase.auth());
  // The start method will wait until the DOM is loaded.
  ui.start('#firebaseui-auth-container', uiConfig);
</script>
<div id="firebaseui-auth-container"></div>
{% load static %}
<script src="{% static 'scripts/jquery.validate.min.js' %}"></script>
