<!doctype html>
<html>
    <head>
            
    
            {% load static %}
        <title>Web Notification API</title>
        
        <script type="text/javascript">
            function trigger_notification()
            {
                //check if browser supports notification API
                if("Notification" in window)
                {
                    if(Notification.permission == "granted")
                    {
                        var notification = new Notification("Notification Title", {"body":"Message Body", "icon" : "{% static 'content/Poel2.jpg' %}"});
                    }
                    else
                    {
                        Notification.requestPermission(function (permission) {
                            if (permission === "granted") 
                            {
                                var notification = new Notification("Notification Title", {"body":"Message Body", "icon":"{% static 'content/Poel2.jpg' %}"});
                            }
                        });
                    }
                }   
                else
                {
                    alert("Your browser doesn't support notfication API");
                }       
            }
        </script>
    </head>
    <body>
        <button onclick="trigger_notification();">Trigger Notification</button>
    </body>
</html>