
{% extends "layout.html" %}
{% block content %}
{% load staticfiles %}
{% load static %}
{% if user.is_authenticated %}
<div style='display: block;margin-left: auto;margin-right: auto;width:100vw;height:15vh;background-color:#420217;position:relative'>
        <div style="display: block;margin-left: auto;margin-right: auto;border-style:groove; border-color: #420217;">
        {% block content2 %}{% endblock %}
        </div>
</div>
{% else %}
<label>No User</label>
{% endif %}

{% endblock %}


{% block scripts %}

{% load static %}
<script src="{% static 'scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
